<!DOCTYPE html>
<html>
    <head>
        <title>SysMon Logger</title>
        <link rel="stylesheet" type="text/css" href="/static/dist/semantic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css"/>
    </head>

    <body>
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/dist/semantic.js"></script>

        <div class="ui container">

            <div class="ui grid">
                <div class="row"></div>
                <div class="row">
                    <div class="column">
                        <div class="ui icon message">
                            <i class="terminal icon"></i>
                            <div class="content">
                                <div class="header">Sysmon Logger</div>
                                <p>Let's go a hunting...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        {{ template "navbar" . }}
                    </div>
                </div>
            </div>

        </div>

        <div class="ui container">
            {{ template "content" . }}
        </div>

    </body>

    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css"/>
    <script type="text/javascript" src="/static/js/jquery.datetimepicker.full.min.js"></script>
</html>

<!--We define empty blocks for optional content so we don't have to define a block in child templates that don't need them-->
{{ define "content" }}{{ end }}