{{ define "navbar" }}
    <div class="ui four item menu">
        <a class="item" href="/events">Events</a>

        <div class="ui dropdown item">
            Hunts
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/hunts/run">Run</a>
                <a class="active item" href="/hunts/add">Add</a>
                <a class="item" href="/hunts/modify">Modify</a>
            </div>
        </div>

        <a class="item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}
    <form class="ui form" method="post" name="hunt_form" id="hunt_form">

        <div>&nbsp;</div>

        {{ if ne .error_message "" }}
            <div id="error_message" class="ui negative small message">
                {{ .error_message }}
            </div>
        {{end}}

        <div>&nbsp;</div>

         <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ if ne .name "" }}{{ .name }}{{ end}}"/>
        </div>

        <div class="field">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="{{ if ne .description "" }}{{ .description }}{{ end}}"/>
        </div>

        <div class="field">
            <label for="type">Type</label>
            <select name="type" id="type">
                <option value="2" {{ if eq .type 2 }}selected{{ end }}>Process Create</option>
                <option value="5" {{ if eq .type 5 }}selected{{ end }}>Network Connection</option>
            </select>
        </div>

        <div class="field">
            <label for="where">WHERE Clause</label>
            <input type="text" name="where" id="where" value="{{ if ne .where "" }}{{ .where }}{{ end}}"/>
        </div>

        <button id="add" name="add" type="button" class="tiny ui button">Add</button>

    </form>

    <script type="text/javascript">

        $( document ).ready(function() {

            $('.ui.form')
                .form({
                    fields: {
                    name: {
                        identifier  : 'name',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter the hunt name'
                            }]
                    },
                    description: {
                        identifier  : 'description',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter the hunt description'
                            }]
                    },
                    where: {
                        identifier  : 'where',
                        rules: [
                            {
                                type   : 'empty',
                                prompt : 'Please enter the WHERE clause'
                            }]
                    }
                }
              })
            ;

            $('.ui.dropdown')
                .dropdown()
            ;
        });

        // Check the form validation and submit the form if OK
        $("#add").click(function() {

            if( $('.ui.form').form('is valid') == false) {
                return
            }

            $("#hunt_form").submit();
        });

    </script>
{{ end }}