{{ define "navbar" }}
    <div class="ui two item menu">
        <a class="item" href="/events">Events</a>

        <div class="ui dropdown item">
            Hunts
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="/hunts/run">Run</a>
                <a class="item" href="/hunts/add">Add</a>
                <a class="item" href="/hunts/modify">Modify</a>
            </div>
        </div>

        <a class="active item" href="/search">Search</a>
        <a class="item" href="/export">Export</a>
    </div>
{{ end }}

{{ define "content" }}
    <form class="ui form" method="post" name="search_form" id="search_form">
        <input type="hidden" name="current_page_num" id="current_page_num" value="{{ .current_page_num }}"/>

        <div id="no_search_value_message" class="ui warning small hidden message">
            <i class="close icon"></i>
            Search value not entered
        </div>

        <div class="ui grid">
            <div class="row">
                <div class="eight wide column">
                    <label for="search_value">Value</label>
                    <input type="text" class="form-control" name="search_value" id="search_value" value="{{ if ne .search_value "" }}{{ .search_value }}{{ end}}"/>
                </div>
            </div>

            <div class="row">
                <div class="one wide column">
                    <button id="search" name="search" type="button" class="tiny ui button">Search</button>
                </div>
            </div>

            &nbsp;
        </div>

        {{ template "search_table" . }}
    </form>

    <script type="text/javascript">

        // Allows the user to close 'no value' message
        $('#no_search_value_message .close')
            .on('click', function() {
                $(this).parent()
                    .removeClass('visible')
                    .addClass('hidden');
        });

        $('.ui.dropdown')
          .dropdown()
        ;

        // Search the link data
        $("#search").click(function() {

            var searchValue = document.getElementById("search_value").value
            if (searchValue.length == 0) {
                $('#no_search_value_message').addClass('visible')
                $('#no_search_value_message').removeClass('hidden')
                return
            }

            // Add a mode parameter
            var mode = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(mode));

            $("#search_form").submit();
        });

        // When the top "records" drop down changes, submit the HTML form so
        // that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page").change(function(){
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(input));
            $("#search_form").submit();
        });

        // When the bottom "records" drop down changes the set the top "records" drop down to the same value
        // Then submit the HTML form so that the data set is refreshed from the beginning with the new records value
        $("#num_recs_per_page_bottom").change(function(){
            $("#num_recs_per_page").val($(this).val());
            var input = $("<input>").attr("type", "hidden").attr("name", "mode").val('first');
            $('#search_form').append($(input));
            $("#search_form").submit();
        });

        $( document ).ready(function() {

            // Select the initial "records" value within the drop down's
            $('#num_recs_per_page').val('{{ .num_recs_per_page }}');
            $('#num_recs_per_page_bottom').val('{{ .num_recs_per_page }}');
        });

    </script>
{{ end }}